*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeSlider{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-bottom: 2%;
    padding-top: 0px;
    overflow: hidden;
  
}

.container{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden; 
}

.slides{
    display: flex;
    height: 100%;
    top: 0%;
    
}

.slide{
    position: relative;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.slide img {
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.slideControls{
    position: absolute;
    /* z-index: 999; */
    top: 72%;
    right: 5%;
    display: flex;
    flex-direction: column;
}

.slideControls button{
    padding: 10px;
    border: none;
    width: 50px;
    /* border: 1px solid rgba(255, 255, 255, 0.311); */
    margin-bottom: 10px;
    background-color: rgba(157, 45, 45, 0.092);
    backdrop-filter: blur(16px);
    border-radius: 5px;
    font-family: gilroy;
    font-size: 22px;
    font-weight: 9 00;
    transition: scale 0.2s ease;
    color: white;
    box-shadow: inset 1em 1em 1pc rgba(12, 8, 8, 0.48);
    transition: all 0.3s ease-in-out;


}

.slideControls button:hover{
    color:black;
    background-color: red;
}

.slideControls button:hover span {
    transform: scale(1.9);
    
}

.slide{
    
    box-shadow: inset 2em 1em 1pc rgba(255,255,255,0.8);
}

.homeSlider{
    height: 100vh;
    width: 100vw; 
  }

  .slide-overlay {
    position: absolute;
    /* z-index: 999; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.541); */
    box-shadow: inset 520px -263px 900px 14px rgba(0, 0, 0, 1);
    display: block;
  }


.slide-title {
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.54);
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 70%;
    left: auto;
    z-index: 1;
    padding:30px;
    
}

.trendIndex{
    top:65%;
    left: 40px;
    font-size: 50px;
    position: relative;
    color: rgb(215, 6, 6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.trendIndex span{
    color: white;
    font-size: 30px;
}
